
        body
        {
            font-size: 12px;
            font-family: "ו";
            margin: 0;
            padding: 0;
            color: #222;
            line-height:20px;
        }
        td{ vertical-align:top; zoom:1; padding:0; margin:0; }
        img{ border:none;}
        .all_head
        {
            background: #b10000;
            height: 110px;
            border-bottom: 1px #ee6a18 solid;
        }
        .all_tops
        {
            width: 1000px;
            margin: 0 auto;
        }
        .all_top
        {
            height: 25px;
            line-height: 25px;
            float: right;
        }
        .login
        {
            color: #ffd0c0;
            font-family: "ו";
            font-size: 12px;
        }
        .login span
        {
            font-weight: bold;
            color: #ffffff;
        }
        .login a
        {
            color: #ffffff;
            text-decoration: none;
        }
        .login a:hover
        {
            color: #ffd0c0;
            text-decoration: underline;
        }
        .all_top_right
        {
        }
        .clearfix
        {
            clear: both;
            height: 0;
            line-height: 0;
            font-size: 0;
        }
        .all_top_right ul
        {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        .all_top_right ul li
        {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        .all_top_right ul li
        {
            float: left;
            margin-left: 8px;
            font-size: 12px;
            font-family: "ו";
            color: #ffd0c0;
        }
        .all_top_right ul li a
        {
            color: #ffd0c0;
            text-decoration: none;
        }
        .all_top_right ul li a:hover
        {
            color: #ffffff;
            text-decoration: underline;
        }
        .fl
        {
            float: left;
        }
        .fr
        {
            float: right;
        }
        .all_top_right ul li.cart
        {
            background: url(Images/cart_icon.jpg) no-repeat left 3px;
            padding-left: 20px;
        }
        .skin_width
        {
            width: 1000px;
            margin: 0 auto;
        }
        .all_logo
        {
            padding-top: 7px;
        }
        .all_logo a
        {
            display: block;
        }
        .mallSearch
        {
            width: 530px;
            height: 30px;
            padding-top: 25px;
        }
        .FormBox
        {
            background: url(../Images/search.jpg) no-repeat left top;
            width: 530px;
            height: 30px;
        }
        .search_text
        {
            width: 449px;
            border: none;
            background: none;
            position: relative;
            top: -2px;
            top:6px\9;
            *top:6px;
            _top:-6px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .search_button
        {
            width: 80px;
            height: 30px;
            background: none;
            border: none;
            cursor: pointer;
        }
        .all_main
        {
            border: 1px solid #dbdbdb;
            padding: 40px 22px;
        }
        .all_dingdan
        {
            background: url(../Images/gou.jpg) no-repeat left top;
            padding: 7px 60px;
        }
        .dd1
        {
            font-size: 14px;
            color: #666666;
            font-weight: bold;
            line-height: 26px;
        }
        .dd1 span
        {
            color: #268026;
            font-size: 18px;
            font-family: "Arial";
        }
        .dd2
        {
            font-size: 14px;
            color: #464646;
            line-height: 26px;
        }
        .dd2 span
        {
            color: #cc0000;
            font-size: 20px;
            font-family: "Arial";
        }
        .dd2 span.span1
        {
            color: #666666;
            font-size: 14px;
            font-family: "Arial";
        }
        .dd_but
        {
            padding-top: 14px;
        }
        .hdsy
        {
            background: none;
            background: url(../Images/index.jpg) no-repeat left top;
            width: 116px;
            height: 30px;
            display: block;
            line-height: 30px;
            text-indent: -999px;
            overflow: hidden;
            border: none;
            cursor: pointer;
        }
        .hyzx
        {
            margin-left: 20px;
            background: none;
            background: url(../Images/member.jpg) no-repeat left top;
            width: 133px;
            height: 30px;
            display: block;
            line-height: 30px;
            text-indent: -999px;
            overflow: hidden;
            border: none;
            cursor: pointer;
        }
        .ad1
        {
            margin-top: 13px;
        }
        #footer
        {
            color: #666666;
            font-size: 12px;
            margin-top: 6px;
            padding-top: 16px;
            text-align: center;
        }
        .lmf_all_foot
        {
            background: url( "../Images/lmf_foot.jpg" ) repeat-x left top;
            clear: both;
            margin-top: 15px;
        }
        .warp
        {
            width: 1000px;
            margin: 0 auto;
        }
        .floor_load
        {
            background: url( "../Images/lmf_foot_icon.jpg" ) no-repeat left top;
            border: medium none;
            clear: both;
            float: left;
            margin-top: 20px;
            overflow: hidden;
            padding: 8px 6px 14px 12px;
            width: 980px;
        }
        #help {
    clear: both;
    height: auto;
    overflow: hidden;
    width: 100%;
    margin-top:0;margin-top:-13px\9;*margin-top:0;_margin-top:0;
}
#help dl {
    margin-bottom: 6px;
    margin-left: 6px;
     _margin-left: 10px;
    padding-right: 5px;
    text-align: left;
    width: 159px;
}
#help dt {
    color: #504C4D;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    text-align: left;
}
#help .gtotop_title {
    height: 28px;
    padding-left: 6px;
    position: relative;
    width: auto;
}
#help dd {
    color: #717171;
    margin-left: 0;
    margin-top: 8px;
    padding-left: 0;
    position: relative;
}
#help dd a {
    background: url("../Images/lmf_dian.png") no-repeat scroll left top transparent;
    padding-left: 10px;
    color:#333333; font-size:12px; text-decoration:none;
}
#help dd a:hover{ color:#cc0000;}
#footer .rx {
    color: #666666;
    margin: 0 0 2px;
}
#footer .rx span {
    margin-right: 22px;
}
#footer p {
    height: 14px;
    line-height: 14px;
    padding: 5px 0;
}
#footer .more {
    color: #020202;
    font-weight: bold;
    text-decoration: none;
}
#footer p a {
    border: 0 none;
    margin-right: 12px;
    font-size:12px;
    color:#333333;
    text-decoration:none;
}
#footer p a:hover {
    color: #CD0001;
}
#footer .rx a{ text-decoration:none;}
#footer .rx a span{ color:#333333; text-decoration:none;}
#footer .rx a:hover span{ color:#cc0000; text-decoration:underline;}
.floor_load{ line-height:20px;}




